<div class="app-confirmed">
  <div class="container-heart">
    <i class="fa-solid fa-heart"></i>
  </div>

  <div class="head">
    <h1>Obrigado pela Confirmação!</h1>
    <span>Nós agradecemos pela sua confirmação em nossa despedida, saiba que você é importante nessa nova fase das nossas vidas, contamos com a sua presença!</span>
  </div>

  <div class="date">
    <div class="group">
      <i class="fa-solid fa-calendar"></i>
      <span>Não se esqueça da data e horário:</span>
    </div>

    <div class="group">
      <i class="fa-solid fa-clock"></i>
      <span>08 de abril de 2023</span>
    </div>

    <div class="group">
      <i class="fa-solid fa-location-dot"></i>
      <span>Av. Senador Filinto Müller, 334, Bairro Popular - Cuiabá/MT</span>
    </div>
  </div>
</div>
