::ng-deep .app-gift {
  .container-wrapper {
    padding: 1rem;
    h1 {
      color: var(--prim-color);
    }

    .container-suggestion {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 1rem;
      span {
        margin-top: 1rem;
      }
    }

    .container-pix {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .container-input {
      margin-top: 1rem;
      .input-group {
        display: flex;
        flex-direction: row !important;
        input {
          margin-top: 0 !important;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          width: calc(100% - 8rem);
        }
        button {
          width: 8rem;
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
      }
      .smaller {
        font-size: 0.7rem;
        color: var(--prim-color);
      }
    }

    .container-links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 1.5rem;
      .container-link {
        margin-top: .5rem;
        border-radius: 6px;
        text-align: center;
        padding: 1rem;
        box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
        transition: .3s all;
        background-color: var(--prim-color);
        color: #fff;
        &:hover {
          transform: scale(1.05);
        }
        a {
          padding: 1rem 2rem;
          margin-top: 1rem;
          color: #FFF;
          font-weight: 700;
          transition: .3s all;
        }
      }
    }

    .p-button {
      width: 100%;
      background: var(--prim-color);
      border: 1px solid var(--prim-color);
      &:focus {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--prim-color), 0 1px 2px 0 black;
      }
      &:enabled {
        &:active {
          background: var(--primDark-color);
          border: 1px solid var(--primDark-color);
        }
        &:hover {
          background: var(--primDark-color);
          border-color: var(--primDark-color);
        }
      }
    }
  }
}
